@{
    Layout = "_Layout";
    ViewData["Title"] = "Аудитория";
}

<h2>Список аудиторий</h2>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Номер аудитории</th>
            <th>Вместимость</th>
            <th>Тип оборудования</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>101</td>
            <td>30</td>
            <td>Проектор, Доска</td>
        </tr>
        <tr>
            <td>102</td>
            <td>25</td>
            <td>Компьютеры</td>
        </tr>
    </tbody>
</table>


